<section class="content justify-content-start">
    
    <div class="row">

        <div class="col-lg-3 col-6">

            <div class="small-box bg-warning">

                <div class="inner">
                    <h3>@Model.Data.Customers</h3>
                    <p>Registrierte Kunden</p>
                </div>

                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>

                <a href="./customers/" class="small-box-footer">
                    Kunden verwalten <i class="fas fa-arrow-circle-right"></i>
                </a>

            </div>

        </div>

    </div>

</section>